.DS_Store
.Trashes
*.swp

*.lock
!Manifest.lock
!Gemfile.lock

*~.nib
DerivedData/
build/
Pods/
!Podfile.lock

integration/tmp/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata
*.moved-aside
nobly.xcworkspace/xcshareddata/nobly.xccheckout
xcuserdata
*.xccheckout

# This file can be used to specify with pods must be from a local path.
local_pods
nobly.xcworkspace/xcuserdata

# Carthage
Carthage
Carthage/Checkouts
Carthage/Build

# Fastlane
fastlane/README.md
fastlane/report.xml

*.orig

build/
*.iml
*local.properties
.gradle/
.idea/